<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

{#   css kodlarini title public in altinda olusturdugumuz main.css i link ettik         #}
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" />

        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
{# onceden public in altinda olusturdugumuz js buraya ekledik#}
        <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}

        {% block name %}{% endblock %}
        {% block for_test %} {% endblock %}
        {% block if_test %} {% endblock %}
        {% block set_test %} {% endblock %}


    </body>
</html>
